{% extends 'base.html' %}

{% block head %}
<title>CAT Data</title>

{% endblock %}

{% block body %}
<img src="BUS.png" alt="BUS" style="width: 300px; height: 300px;">

        <nav>
            <a href="index.html">Home</a>
            <a href="tutorial.html">Tutorial</a>
            <a href="QandA.html">Frequently asked Questions</a>
        </nav>
 
        <h2>What kind of payments are accepted on the bus?</h2>
        <p>These are the types of payments that are acceptable.</p>

        <h3>INSERT MORE QUESTIONS HERE</h3>
        <p>These are the types of payments that are acceptable.</p>

        <h4>INSERT MORE QUESTIONS HERE</h4>
        <p>These are the types of payments that are acceptable.</p>

{% endblock %}