body{
    background-color:#736CE1;
    padding: 10px 10px;
    margin: 50px 50px;
    border: 10px 10px;
}

li{
    float: inline;
}

a{
    
    padding: 8px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    background-color:whitesmoke;
}

nav{
    background-color:#636277;
    text-align: center;
    padding: 15px;
}

h1{
    text-align: center;
}

iframe[seamless]{
    border: none;
}

iframe{
    margin: 50px 50px;
}
.center{
    margin:auto;
    width: 50%;
    padding: 10px
}